Package: libzlog-<maj_version>
Version: <version>
Section: base
Priority: optional
Architecture: amd64
Maintainer: Simon Maurer <simon.maurer@humdek.unibe.ch>
override_dh_fixperms:
    dh_fixperms
    chmod 666 /opt/smx/conf/default.zlog
Description: zlog Library
 zlog is a reliable, high-performance, thread safe, flexible, clear-model, pure
 C logging library.
