#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_install:
	dh_install
	install -d debian/libzlog<maj_version>/var/log/smx

override_dh_fixperms:
	dh_fixperms
	find debian -name 'default.zlog' -exec chmod 0666 {} +
	chmod 777 debian/*/var/log/smx
